html {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  color: #303133;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-size: 12px;
}

input,
select,
textarea,
button {
  font-size: 100%;
  outline: none;
  &:hover,
  &:focus {
    outline: none;
  }
}

ul,
li,
dt,
dl,
dd {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

cite {
  font-style: normal;
}

dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei",
    "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

a {
  color: inherit;
  font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei",
    "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
  &:link,
  &:hover,
  &:visited,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

pre {
  padding: 0px;
  margin: 0px;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  background-color: transparent;
  border: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(144, 147, 153, 0.3);
}

input,
textarea {
  &::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #99a9bf !important;
    /* placeholder字体大小  */
    font-size: 12px;
    vertical-align: middle;
  }
}
